<div class="container"><u><h2>Log In</h2></u><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: 'col-sm-3 control-label' %>
    <div class="col-sm-10">
    <%= f.email_field :email, class: 'form-control' %>
  </div>
</div>

  <div class="form-group">
    <p>&nbsp</p>
    <p>&nbsp</p>
    <br>
    <%= f.label :password, class: 'col-sm-3 control-label' %>
    <div class="col-sm-10">
    <%= f.password_field :password, class: 'form-control' %>
  </div>
</div>
<p>&nbsp</p>
<p>&nbsp</p>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <p>&nbsp</p>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log In", class: 'btn btn-success' %>
  </div>
<% end %>
<p>&nbsp</p>
<%= render "users/shared/links" %>
</div>