<center><u><h2>Sign up</h2></u></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: 'col-sm-3 control-label' %>
    <div class="col-sm-10">
    <%= f.email_field :email, class: 'form-control' %>
  </div></div>

  <div class="form-group">
    <%= f.label :password, class: 'col-sm-3 control-label' %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <div class="col-sm-10">

    <%= f.password_field :password, class: 'form-control' %>
  </div></div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'col-sm-3 control-label' %>
    <div class="col-sm-10">
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
</div>
<div class="container">
<p>&nbsp</p>
  <div class="actions">
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p><p>&nbsp</p>
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>

<% end %>

<%= render "users/shared/links" %>
</div>
</div>
